---
import { getPokemonListWithDetails } from '../../api/get-pokemon-list';
import {PokemonItem }from './item'

const list= await getPokemonListWithDetails()

---

<section class="pokemon-list" >
  {list?.map(item => {
    return <PokemonItem item={item}/>
  })}
</section>

<style>
  .pokemon-list{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>