---
import ContentLayout from "../components/layout/content-layout";
import Navbar from '../components/layout/navbar.tsx';
import { AppProvider } from "../context/app-context";
import PokemonList from "../components/pokemon/pokemon-list";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A list of Pokémon with their names, images, and types"
    />
    <title>Pokémon List</title>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
      <Navbar client:load/>
   <ContentLayout>
        <AppProvider>
           <PokemonList client:load/>
      </AppProvider>
   </ContentLayout>
   
  </body>
</html>
